<!DOCTYPE html>
<!--
TODO::::

ADD AN IMAGE WHICH lets you drag/move around entries, like in an iphone/ipad
-
-   this symbol
-

-with a shadow!!! when the boxes are being dragged/moved
-if you drag the three grey lines right, then a delete option should come up


-replace , , with just a ,
-change the huyen to a ""//sorta
-should highlight FTP in red (useless clue)//sorta

TODO:able to select sections of final clue, and those are searched in other clues and they are matched in order of priority; sort of like a ctrl+f
TODO:save, export to qbdata

TODO:-when pressing enter on blue list, should make new item rather than being deleted
TODO:-can open/close items on blue list

<%=name%> hue
TODO: make a separate place where the category, labels, etc. txtboxes are shown, so you can save with options

TODO: auto-detect category (category of questions is in the ajax response)
	-->
<html>
<head>
	<title>QB Fetch</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="resources/fetchCss.css" />
	<script src="resources/jquery.min.js"></script>
	<script src="resources/handlebars-v1.2.0.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
	<div id="topDiv">
		<form id="reqForm">
			<input type="text" name="info" id="clueInput" value="" />
			<select name="stype">
				<option value="Answer">Answer</option>
				<option value="AnswerQuestion">Question &amp; Answer</option>
			</select>
			<label id="resultsInfo"></label>
			<input type="submit" />
		</form>
		<div id="resultsInfo"></div>
		<div id="controls">
			<input type="button" value="Smart Delimit" id="delimitBtn" onclick="delimitQ()" />
			<input type="button" value="Index Clues" id="orderBtn" onclick="indexClues()" />
			<input type="button" value="Order Clues" id="orderBtn" onclick="orderClues()" />
			<input type="button" value="Smart Order" id="orderBtn" onclick="smartOrder()" />
			<input type="button" value="Save" id="saveBtn" onclick="saveClues()" />
			Category:
			<select name="category" id="optionCategory">
	            <option value="Other">Select Category</option>
	            <option value="Literature">Literature</option>
	            <option value="History">History</option>
	            <option value="Science">Science</option>
	            <option value="Fine Arts">Fine Arts</option>
	            <option value="Trash">Trash</option>
	            <option value="Mythology">Mythology</option>
	            <option value="Philosophy">Philosophy</option>
	            <option value="Social Socience">Social Science</option>
	            <option value="Religion">Religion</option>
	            <option value="Geography">Geography</option>
	        </select>
			</select>
		</div>
	</div>
	<script id="questionsTemplate" type="text/x-handlebars-template">
		<table id="mainTbl">
		{{#each this}}
			<tr>
				<!--<td class="mover">-<br>-<br>-</td>-->
				<td class="deleter big">--</td>
				<td class="question" contenteditable="false">{{question}}</td>
				<td class="answer" contenteditable="false">{{answer}}</td>
			</tr>
		{{/each}}
		</table>
	</script>
	<script id="cluesTemplate" type="text/x-handlebars-template">

			<table id="mainTbl" class="clueTbl">
			{{#each this}}
				<tr>
					<td class="mover">-<br>-<br>-</td>
					<td class="deleter">--</td>
					<td class="prioriter">--</td>
					<td class="question" contenteditable="false">{{this}}</td>
				</tr>
			{{/each}}
			</table>

		<table id="finTbl">
			<tr id="sampleFinRow">
				<td class="mover">-<br>-<br>-</td>
				<td class="deleter">--</td>
				<td class="question" contenteditable="false">Sample question. Easter egg! If Daisy eats fifteen cookies and four are left, then how many cookies were there in total? (Ans:19) huehuehue</td>
			</tr>
		</table>
	</script>
	<div id="mainDiv" class="questions">
	</div>
	<script src="resources/mainScript.js"></script>
</body>
</html>
<!--
"huyen".match(/y/g).length //# of occurrences in a string
-->