<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<script src="resources/jquery.min.js"></script>
	<!--script src="resources/qset.js"></script-->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<style>
	html,body {height:100%;}
	body {
		font-family:"Droid Sans";
	}
	div#question {
		width:80%;
		max-width:800px;
		max-height:350px;
		height:60%;
		border:2px solid gray;
		padding:1%;
		overflow-y:auto;
		overflow-x:hidden;
	}
	form#ansForm {
		height:10%;
		margin-top:5%;
	}
	form#ansForm > * {
		height:100%;
		max-height:30px;
	}
	form#ansForm input#answer {
		width:40%;
	}
	form#ansForm input#submitBtn {
		width:15%;
	}
	form#ansForm span#wrong {
		width:45%;
	}
	div#left {
		height:100%;
		width:80%;
		float:left;
	}
	div#right {
		float:right;
		height:100%;
		width:20%;
		max-width:200px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	</style>
</head>
<body>
	<div id="left">
		<div id="question"></div>
		<form id="ansForm">
			<input type="text" id="answer">
			<input type="submit" id="submitBtn">
			<span id="wrong"></span>
		</form>
	</div>
	<div id="right">
		Stuff:<br>
		<form id="searchForm">
			<input type="text" name="term" value="mitochondria" />
			<label><input type="checkbox" name="gql" />GQL</label>
			<label><input type="checkbox" name="all" />All</label>
			<input type="submit">
		</form>
	</div>
	<script>
	window.allsets=[];
		$(function() {
			eventBinder();
			for (i in allsets) {
				$("<a class='button' href='javascript:void(0)' data-i='"+i+"'>"+allsets[i].setName+"</a><br>").appendTo("div#right");
			}
			$("#searchForm").submit(function(e) {
				e.preventDefault();
				$.get("/getQ?"+$(this).serialize(),function(data) {
					data=JSON.parse(data);
					window.allsets=window.allsets.concat(data);
					for (i in data) {
						$("<a class='button' href='javascript:void(0)' data-i='"+String(i-data.length+allsets.length)+"'>"+data[i].term+"</a><br>").appendTo("div#right");
					}
					eventBinder();
				})
			});
			$("#ansForm").submit(function(e) {
				e.preventDefault();
				if (wrongElem) {
					wrongElem=null;
					nextQ();
					return;
				}
				qAns($("#answer").val().trim());
			});
		});
		function eventBinder() {
			$("a.button").click(function(e) { //TODO: glitch spawns multiple of these events when more than one of the same term is on the list
				//e.preventDefault();
				$(this).css("font-weight","bold");
				init(allsets[$(this).attr("data-i")]);
			});
		}
		function init(s) {
			console.log(s);
			window.qsetorig=[s];//TODO: add more terms to list later, so you can practice with multiple terms w/
			q=0;
			wrongElem=null; //if waiting to proceed to next question (if true, reading all the answers)
			//parse();
			window.curset=qsetorig;
			window.curdel=[];
			for (j in qsetorig) {
				curdel.push({"term":qsetorig[j].term,"clues":[]});
			}
			nextQ();
		}
		window.parse=function() {
			window.curdel=[]; //mastered terms; deleted from the set, displayed later in qAns() after the <hr>
			for (j in qsetorig) {
				curdel[j]={"term":qsetorig[j].term,"def":[]};
				var jdef=qsetorig[j].clues;
				if (jdef[jdef.length-1]==".") qsetorig[j].clues=jdef.substr(0,jdef.length-1);
				qsetorig[j].clues=qsetorig[j].clues.split(".");
			}
			//console.log(curdel);
			window.curset=qsetorig;
			//JSON.parse()
			//$("#question").text(JSON.stringify(qsetorig));
		};
		function nextQ(list) {
			wrongElem=null;
			$("#wrong").text("");
			$("#answer").val("");
			prevQ=q;
			while ((q==prevQ||Math.random()>.9)&&curset.length!=1) { //ensures that same question doesn't come up twice in a row 90% of the time
				q = Math.floor(Math.random()*curset.length)
			}
			n = Math.floor(Math.random()*curset[q].clues.length);
			if (curset[q].clues.length==0) nextQ();
			$("#question").text(curset[q].clues[n]);
		}
		function qAns(answer) {
			$("#wrong").text(curset[q].term);
			wrongElem=curset[q].clues.splice(n,1); //actually not always wrong; just the definition in which you answered
			$("#question").append("<br><br>"+curset[q].clues.join(".<br><br>")+"<hr>"+curdel[q].clues.join(".<br><br>"));
			if (answer.toLowerCase()==curset[q].term.toLowerCase()) {
				$("#wrong").css("color","#009900");
				curdel[q].clues.push(wrongElem);
			}
			else {
				$("#wrong").css("color","#990000");
				curset[q].clues.push(wrongElem);
			}
		}
	</script>
</body>